<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
</head>

<style>
    body {
        background-image: url("../burger.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: gray;
    }
    h1{
        font-family: 'Corben', cursive;
        margin-top: 30px;
    }
    h5 {
        font-family: 'Corben', cursive;
    }
    label {
        font-family: 'Corben', cursive;
    }
</style>

<body>
    <div class="container text-center">
        <h1>Yummy Burgers</h1>
        {{{body}}}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/app.js"></script>
</body>

</html>